.grilla{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.grilla img {
    width: 90px;
    height: 90px;
}
body{
background-color: black;
}

p{

color: white;

}

.parrafo-uno{
    color: black;
}

h2{
    color: blue;
}

@media only screen and (max-width: 500px){
    
}

@media only screen and (max-width: 501px) and (max-width: 960px){

}

@media only screen and (max-width: 961px){

}